@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    font-family: "Heebo", sans-serif;
}

body {
    margin: 0;
    padding: 15px 20px;
}

input {
    padding: 5px 10px;
    margin: 0 10px;
    width: 200px;
}

a.button {
    padding: 5.5px 10px;
    text-decoration: none;
    color: black;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 14px;
    height: 100%;
}

div.notification {
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 2px;
    background-color: #ddd;
    color: black;
    width: 400px;
}

table th, table td {
    padding: 10px 15px;
}

table th {
    text-align: left;
}

table th, table td {
    width: 140px;
}