@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
* {
	font-family: "Heebo", sans-serif;
	font-size: 14px;
	color: #222;
	box-sizing: border-box;
}
body {
	margin: 0;
}
hr {
	border: none;
	border-bottom: 1px solid #AAA;
	width: 90%;
}
[standard-margin] {
	margin: 10px 20px;
}
[medium] {
	font-size: 20px;
}
[large] {
	font-size: 35px;
}
[extra-large] {
	font-size: 60px;
}
[extra-extra-large] {
	font-size: 85px;
}
[bold] {
	font-weight: bold;
}
[italic] {
	font-style: italic;
}
[oblique] {
	font-style: oblique;
}
[auto-margin] {
	margin: auto;
}
/* Can only be used when display flex is applied to an element */
[v-center] {
	align-items: center;
}
[h-center] {
	justify-content: center;
}
[to-right] {
	justify-content: flex-end;
}
[to-bottom] {
	align-items: flex-end;
}
/*   */
/* Absolute Hover */
[hover] {
	position: absolute;
	margin: 0;
}
[hover-up] {
	top: 20px;
}
[hover-right] {
	right: 20px;
}
[hover-down] {
	bottom: 20px;
}
[hover-left] {
	left: 20px;
}
/*   */
/* Full Dimensions */
[full-height] {
	height: 100%;
}
[full-width] {
	width: 100%;
}
[screen-height] {
	height: 100vh;
}
[screen-width] {
	width: 100vw;
}
/*   */
[centered] {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
[dark] {
	background-color: #666;
}
[light] {
	background-color: #EEE;
}
[good] {
	background-color: rgb(104, 181, 49);
}
[bad] {
	background-color: rgb(252, 186, 3);
}
[danger] {
	background-color: rgb(240, 97, 58);
}
[button] {
	padding: 15px 30px;
	background-color: rgb(252, 186, 3);
	border: none;
	box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .3);
	color: white;
	outline: none;
	border-radius: 5px;
	text-decoration: none;
	display: block;
}
[button]:hover {
	background-color: rgb(255, 195, 31);
}
[button]:active {
	background-color: rgb(252, 186, 3);
}
/* Form CSS */
form {
	padding: 0px 20px;
	width: 400px;
	display: block;
}
form-title {
	margin: 10px 0px;
	font-weight: bold;
	font-size: 20px;
	display: block;
}
form-group input, form-group button {
	width: 100%;
	display: block;
}
form-group {
	margin: 10px 0px;
	width: 100%;
	display: block;
}
input-title {
	padding: 10px 0px 0px 0px;
	display: block;
}
input {
    box-shadow: none;
    border: 1px solid #666;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow .2s;
}
input:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
}
input[type=text] {
	padding: 10px 15px;
}
input[type=password] {
	padding: 10px 15px;
}
input[type=date] {
	padding: 10px 15px;
}
:-ms-input-placeholder {
	color: #666;
}
::-ms-input-placeholder {
	color: #666;
}
::placeholder {
	color: #666;
}
/*   */
/* Grid CSS */
row {
	display: flex;
	flex-wrap: wrap;
}
column {
	display: block;
}
/*   */
/* Header CSS */
header{
	margin: 10px 20px;
	display: block;
}
/*   */
/* Notification Banner CSS */
notification-banner {
	padding: 20px 30px;
	margin: 20px;
	outline-offset: -1px;
	box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .3);
	width: 500px;
	display: block;
	color: white;
	border-radius: 5px;
}
notification-banner[dark] {
	border-top: 5px solid #444;
}
notification-banner[light] {
	border-top: 5px solid #DDD;
	color: #222;
}
notification-banner[good] {
	border-top: 5px solid rgb(89, 156, 42);
}
notification-banner[bad] {
	border-top: 5px solid rgb(222, 164, 2);
}
notification-banner[really-bad] {
	border-top: 5px solid rgb(201, 81, 48);
}
/*   */
/* Dropdown CSS */
dropdown {
	margin: 20px;
	border-radius: 5px;
	display: block;
	width: 300px;
}
dropdown-toggle, dropdown-item {
	background-color: rgb(252, 186, 3);
	color: white;
	cursor: pointer;
}
dropdown-toggle {
	padding: 20px;
	display: block;
	border-radius: 5px;
	position: relative;
	display: flex;
	align-items: center;
}
dropdown-toggle:hover {
	background-color: rgb(255, 204, 61);
}
dropdown-items {
	display: none;
}
dropdown-item {
	padding: 20px;
	display: block;
}
dropdown-item:hover {
	background-color: rgb(255, 204, 61);
}
dropdown-item[first] {
	border-radius: 5px 5px 0px 0px;
}
dropdown-item[last] {
	border-radius: 0px 0px 5px 5px;
}
arrow-down {
	border-top: 5px solid white;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	right: 20px;
}
/*   */
/* Nav CSS */
nav, nav-brand {
	display: block;
}
nav {
	position: relative;
	display: flex;
	align-items: center;
	height: 64px;
	box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .3);
	padding: 0 20px;
	z-index: 2;
}
nav[dark] {
	background-color: #666;
}
nav[dark] nav-item {
	color: white;
}
nav[dark] nav-item:active {
	box-shadow: 0px 3px 0px 0px #888;
}
nav[dark] nav-toggle {
	background-color: white;
}
nav[dark] nav-title {
	color: white;
}
nav[light] {
	background-color: #EEE;
}
nav[light] nav-item {
	color: #222;
}
nav[light] nav-item:active {
	box-shadow: 0px 3px 0px 0px #FFF;
}
nav[light] nav-toggle {
	background-color: #666;
}
nav-title {
	font-size: 20px;
	margin-right: 10px;
}
nav-items {
	display: flex;
}
nav-item {
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	text-align: center;
}
nav-toggle {
	height: 50px;
	width: 60px;
	display: none;
	border-radius: 5px;
	float: right;
}
/*   */
/* Screen CSS */
screen {
	position: relative;
}
/*   */
/* Responsive CSS */
@media only screen and (max-width: 500px) {
	row {
		width: 100%;
	}
	column {
		width: 100%;
	}
	form {
		width: 100%;
	}
	notification-banner {
		width: calc(100% - 40px);
	}
	dropdown {
		width: calc(100% - 40px);
	}
	nav-title {
		width: calc(100% - 60px);
	}
	nav-toggle {
		display: block;
	}
	nav-items {
		display: none;
	}
	nav-item {
		padding: 15px 20px;
	}
	sub-nav {
		background-color: white;
		width: 100vw;
		margin-top: 128px;
		z-index: -1;
		box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .3);
	}
	sub-nav[dark] {
		color: white;
	}
	sub-nav[light] {
		color: #222;
	}
	dropdown {
		width: calc(100% - 40px);
	}
}
/*   */
/* Content CSS */
card {
	padding: 20px 15px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
	width: 500px;
	text-align: center;
	border-radius: 5px;
}
/*   */